### JAVA template
*.class

# Package Files
*.jar
*.war
*.ear

# Mac OS
*.DS_Store
.AppleDouble
.LsOverride

# Intellij
.idea
/.idea/
*.imi
out
gen
build
rebel.xml

# Complied files
/target/
**/target/
/example/

# Gradle
.gradle
/build/
.gradletasknamecache

# env
.env